<ion-view title="Alerts">
  	<ion-content class="has-header">
    	<ion-list>

			<ion-item class="item-icon-right" href="#/app/person/1">
				<h3><span class="balanced">Birthday</span> - Henry Jones (Waunakee, WI)</h3>
				<h4>Today</h4>
				<ion-option-button class="button-assertive">
				    Delete
				</ion-option-button>
				<ion-option-button class="button-balanced">
				    Mark Complete
				</ion-option-button>
			</ion-item>

			<ion-item class="item-icon-right" href="#/app/person/1">
				<h3><span class="balanced">Anniversary</span> - Henry Jones (Waunakee, WI)</h3>
				<h4>Yesterday</h4>
				<ion-option-button class="button-assertive">
				    Delete
				</ion-option-button>
				<ion-option-button class="button-balanced">
				    Mark Complete
				</ion-option-button>
			</ion-item>

			<ion-item class="item-icon-right" href="#/app/person/1">
				<h3><span class="energized">Corp Note</span> - New Marketing Program for 2015</h3>
				<h4>02/30/2015 - From Marketing</h4>
				<ion-option-button class="button-assertive">
				    Delete
				</ion-option-button>
				<ion-option-button class="button-balanced">
				    Mark Complete
				</ion-option-button>
			</ion-item>

    	</ion-list>
  	</ion-content>
</ion-view>
