<ion-view title="Contacts Near Me">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content scroll="false" class="has-header">
		<ui-gmap-google-map center="model.map.center" zoom="model.map.zoom" draggable="true" options="model.map.options" bounds="model.map.bounds">
			<ui-gmap-markers models="model.randomMarkers" coords="'self'" icon="'icon'">
			</ui-gmap-markers>
		</ui-gmap-google-map>
	</ion-content>
	<ion-footer-bar class="bar-stable">
		<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
	</ion-footer-bar>
</ion-view>
