<ion-view title="Corporate Notices">
  	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
    	<ion-list>

			<ion-item class="item-icon-right" href="#/app/person/1">
				<h3><span class="energized">Marketing</span> - New Marketing Program for 2015</h3>
				<h4>02/30/2015 - From Jim Jones, SVP</h4>
				<ion-option-button class="button-assertive">
				    Mark Read
				</ion-option-button>
			</ion-item>

			<ion-item class="item-icon-right" href="#/app/person/1">
				<h3><span class="balanced">IS</span> - Systems down this Saturday</h3>
				<h4>01/30/2015 - From Terry Jones, SVP</h4>
				<ion-option-button class="button-assertive">
				    Mark Reard
				</ion-option-button>
			</ion-item>

    	</ion-list>
  	</ion-content>
</ion-view>
