<ion-view title="Persons">
  	<ion-content class="has-header">
    	<ion-list>

			<label class="item item-input nav-title-slide-ios7">
			<i class="icon button-icon ion-ios7-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="model.personToSearch">
			</label>

			<ion-item class="item-icon-right" ng-repeat="entity in model.persons" href="#/app/person/{{entity.id}}">
				<h3>{{entity.fullName}}</h3>
				<h4>{{entity.fullAddress}}</h4>
				<i class="icon ion-star" ng-class="{energized: entity.isFavorite}" ng-click="$event.preventDefault(); entity.toggleFavorite();"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
